[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
playwright = "*"
pytest-playwright = "*"
dataclasses-json = "*"

[requires]
python_version = "3.9"
